VK_TOKEN="vk1.a.8PIfDxNiJ7UMLRSKiWf_GboSxjFdmCG2H6l6eudJb-kRbHTTjSQJ3ylqQaxghbjBblRmAn2KndFPXZRLA6ZP6uyAPCN7uGkS5RHXWuv4bOxkdRF4i6Rv6peS84R4-xOQma2qLPi39tgMXpxmpuaTk4qmpoMaU4WZpekS50ZMkZnroKm-3jmnrACFF67aTfw2YMUu-TQUAk5vrJSvuIPfJA"
CHAT_ID=2000000023
